/******************************************** common *********************************************/

.main-heading
{
    font-size: 4.2rem; 
    font-weight: bold;
    color: white;
}

span
{
    font-family: 'Akaya Telivigala', cursive;
    margin-bottom: 2rem;
}

.logo
{
    font-family: 'Fascinate', cursive;
    
}
.logo span
{
    font-family: 'Fascinate', cursive;
}

h1,h2,h3,h4,h5,h6
{
    font-family: 'Acme', sans-serif;
}

hr
{
    height:1px;
    border-width:0;
    color: gray ;
    background-color: gray  ;
}

.but
{
    font-size: 1.3rem;
    font-weight: bold;
    padding-left: 1rem;
    padding-right: 1rem;
    border: #2e2e2e solid;
}
.but:hover
{
    background: transparent;
    font-weight: bold;
    border: #2e2e2e solid;
    color: #2e2e2e;
}

.butn
{
    font-size: 1.3rem;
    font-weight: bold;
    padding-left: 1rem;
    padding-right: 1rem;
    border: #252525 solid;
}
.butn:hover
{
    background-color: white;
    font-weight: bold;
    border: #252525 solid;
    color: #252525;
}

.head
{
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 3rem;
  text-align: center;
}

.head span
{
    font-size: 4.2rem;
}

@media only screen and (max-width:575px)
{
    .head
    {
        font-size: 3rem;
    }

    .head span
    {
        display: block;
        font-size: 3.7rem;
        margin-bottom: 0.5rem;
    }
}





/************************************************************* navbar ****************************************************************/


.navbar 
{
    padding:0.8rem;
}
  
  
  .brank
  {
      padding: 1rem 4rem 1rem;
      background-color: #fff;
      border-bottom: 4px solid #2e2e2e;
  }
  .brank h5
  {
      color: #2e2e2e;
      font-family: 'Akaya Telivigala', cursive;
  }
  
  .brank h4
  {
      font: 1.5rem sans-serif;
  }
  
  .l
  {
      display: block;
      justify-content: left;
      align-self: center;
       
  }
  
  
  .navbar-brand 
  {
      color: #000;
      font-size: 2rem;
  }
  .navbar-brand:hover
  {
      color: #000;
  } 
  
  .navbar-nav .nav-item 
  {
      padding: 0 12px;
  }
  
  @media only screen and (min-width: 768px){
     .navbar-nav li {
          display: inline-block;
      }
   .navbar-nav li a {
          display: inline-block;
      }
  .navbar-nav .nav-item>.nav-link:hover {
          color: #fff;
          transition: 0.35s;
      }
  
      .navbar-nav .nav-item>.nav-link .active:hover {
          color: #fff;
          transition: 0.35s;
      }
  
      .navbar-nav .nav-link::after {
          content: "";
          display: block;
          width: 0;
          height: 2px;
          background: #fff;
          transition:all 0.35s ease;
      }
      .navbar-nav .active>.nav-link::after{
          content: "";
          display: block;
          width: 100%;
          height: 2px;
          background: #fff;
      } 
      .navbar-nav .nav-link:hover::after{
          width: 100%;
          transition:all 0.35s ease;
      }
  }
  
  
  @media only screen and (max-width: 575px)
  {
    .navbar 
    {
        padding:0.1rem;
    }
      .brank
      {
          padding: 1rem 2rem 1rem;
          background-color: #fff;
          border-bottom: 4px solid #2e2e2e;
      }
  
      .brank a
      {
          font-size: 1rem;;
      }
      .brank h5
      {
          font-size: 0.7rem;
      }
  
      .brank h4
      {
          font: 0.6rem sans-serif;
      }
  
  }



/************************************************************* container 0 ****************************************************************/

#conta0 .icon-bar 
{
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  #conta0 .icon-bar a 
  {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  
  #conta0 .icon-bar a:hover 
  {
    background-color: #000;
  
  }
  
  
  #conta0 .icon 
  {
    background: crimson;
    color: white;
    margin: 0 0 0.2rem;
  }
  
  @media only screen and (max-width:990px)
{
    #conta0 .icon-bar a 
    {
      padding: 7px;
      font-size: 14px;
    }
}

@media only screen and (max-width:575px)
{
    #conta0 .icon-bar a 
    {
      padding: 7px;
      font-size: 14px;
    }
}



/************************************************************Container 1 ******************************************************/


#conta1
{
    height: 65vh;
    overflow: hidden; 
    background: linear-gradient(rgba(7, 6, 6, 0.2),rgba(7, 6, 6, 0.2)), url("../assests/background-page2.jfif") fixed;
    background-size: cover; 
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#conta1 .main-heading
{
    font-size: 4.2rem; 
}

#conta1 span
{
    font-size: 5rem; 
    display: block;
    margin-bottom: 0.5rem;
}

@media only screen and (max-width:575px)
{

    #conta1 span
    {
        display: block;
        font-size: 4.2rem; 
    }

    #conta1 .main-heading
    {
        font-size: 3.2rem;
    }
}

/************************************************************Container 2 ******************************************************/


#conta2
{
    margin: 7rem 0 7rem;
}


/***************** categories *************/

#conta2 .cate
{
    margin: 1rem 0 4rem 0 ;
}

#conta2 .cat-h
{
    display: inline-block;
    padding: 1rem 4.5rem 1rem 4.5rem;
    text-align: center;
    background-color: #ff4c68;
    color: #fff;
}

#conta2 .cat-m
{
    padding: 2rem 0 0 1.5rem; 
}

#conta2 .cat-l
{
    margin-bottom: 1rem;
    font-size: 1.2rem;
}
#conta2 .cat-a .fas
{
    font-size: 0.9rem;
    padding-right: 0.5rem;
    color: crimson;
}
#conta2 .cat-a
{
    display: block;
    color: black;
    text-decoration: none;
    transition: all 0.3s;
}
#conta2 .cat-a:hover
{
    color: crimson;
    margin-left: 10px;
    transition: all 0.3s;
}


@media only screen and (max-width:990px)
{
    #conta2 .cate
    {
        padding: 0 1rem 0;
    }
    #conta2 .cat-h
    {
        display: inline-block;
        padding: 1rem 2rem 1rem 2rem;
    }

}

@media only screen and (max-width:575px)
{
    #conta2 .cat-h
    {
        display: block;
        padding: 1rem 4.5rem 1rem 4.5rem;
    }

}


/***************** Books *************/

#conta2 h6
{
    color: #ff4c68;
}

#conta2 .button
{
    display: block;
    width: 100%;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    font-size: 0.9rem;
    border: none;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

#conta2 .card
{
    margin-bottom: 2rem;
}

#conta2 .button:hover
{
    background-color:crimson;
}

#conta2 .cardo
{
    background: transparent;
    border: none;
}

#conta2 .box7
{
  position:relative;
}

#conta2 .box7:after,.box7:before
{
  width:120%;
  height:100%;
  background:#25090d6e;
  position:absolute;
  top:0;
  left:0;
  opacity:0;
  transition:all .5s ease 0s;
}
#conta2 .box7:after
{
  background:rgba(255,255,255,.3);
  border:2px solid #3a121893;
  top:0;
  left:170%;
  opacity:1;
  z-index:1;
  transform:skewX(45deg);
  transition:all 1s ease 0s
}
#conta2 .box7:hover:before
{
  opacity:1
}
#conta2 .box7:hover:after
{
  left:-170%;
}

#conta2 .box7 .box-content
{
  width:100%;
  position:absolute;
  bottom:-100%;
  left:0;
  transition:all .5s ease 0s;
}
#conta2 .box7:hover .box-content
{
  bottom:30%;
}


#conta2 .box7 .icon 
{
  display:flex;
  justify-content: center;
  align-self: center;
}
#conta2 .box7 .icon  a
{
  display:block;
  font-size:2.2rem;
  color:#fff;
  margin-right:10px;
  transition:all .5s ease 0s;
}

#conta2 .box7 .icon a:hover
{
  transform:rotate(360deg)
}

#conta2 .box7:after,.box7:before
{
  content:""
}
#conta2 .icon  a,.box7
{
  overflow:hidden;
}

@media only screen and (max-width:990px)
{
  #conta2 .box
  {
    margin-bottom:30px
  }
  #conta2 .button
  {
      padding-left: 0.4rem;
      padding-right: 0.4rem;
      font-size: 0.7rem;
  }

}

@media only screen and (max-width:575px)
{
    #conta2
    {
        margin: 4rem 1.5rem 4rem;
    }
    #conta2 .box7 .icon  a
    {   
        display:block;
        font-size:1.8rem;
    }

    #conta2 .button
    {
        padding-left: 0.4rem;
        padding-right: 0.4rem;
        font-size: 0.7rem;
    }
}



/************************************************************footer section ******************************************************/

#footer
{
    background-color: whitesmoke;
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.footer-container
{
    margin-bottom: 4rem;
}

.footer-padding
{
    padding-right: 4rem;
}

.quick a
{
    color: black;
}

.quick a:hover
{
    color: #ff4c68;
}

.social-icons
{
    font-size: 1.8rem;
    margin-right: 0.5rem;
    color: rgba(7, 6, 6, 0.6);
}

.social-icons:hover
{
    color: #ff4c68;
}

#footer .com
{
    padding: 0.5rem;
}

#footer .colm
{
    padding-right: 3rem;
}


.smallbook
{
    
    height: 6rem;
    width: 4rem;
    box-shadow: 3px 3px rgb(156, 156, 156);
}


@media only screen and (max-width:1024px)
{
    #footer .colm
    {
    padding-right: 1rem;
    }
    #footer .sml
    {
    margin-right: 0.2rem;
    }
}

@media only screen and (max-width:575px)
{
    #footer
    {
        padding: 0 2rem 0;
    }
    #footer .colum
    {
        margin-top: 2rem;
    }
    .com
    {
        padding-top: 1.5rem;
    }
}