
/* navbar */


.navbar{
    position: fixed;
    background-color: rgb(15, 14, 14);
    
} 

.navbar .navbar-dark .navbar-toggler{
    border: none;
}


.navbar .navbar-brand {color: #fff;}

.navbar .navbar-nav .nav-item {padding: 0 12px;}



.navbar .navbar-nav > a:hover, 
.navbar .navbar-nav .active > a {
    color: #ff4c68;
}

@media only screen and (min-width: 768px){
    .navbar .navbar-nav li {
        display: inline-block;
    }
    .navbar .navbar-nav li a {
        display: inline-block;
    }
    .navbar .navbar-nav .nav-item>.nav-link:hover {
        color: #fff;
        transition: 0.35s;
    }
    .navbar .navbar-nav .nav-link::after {
        content: "";
        display: block;
        width: 0;
        height: 2px;
        background: #fff;
        transition:all 0.35s ease;
    }
    .navbar .navbar-nav .active>.nav-link::after{
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background: #fff;
    } 
    .navbar .navbar-nav .nav-link:hover::after{
        width: 100%;
        transition:all 0.35s ease;
    }
}


.social
{
    font-size: 1.5rem;
    margin: 1rem;
    color: white;
}

.social:hover
{
    color: #ff4c68;
}


/* common */

.main-heading
{
    margin-bottom: 3rem;
    font-size: 4.8rem; 
    font-weight: bold;
    color: white;
}

span
{
    /* font-size: 6rem; */
    font-family: 'Akaya Telivigala', cursive;
    margin-bottom: 2rem;
}

.logo
{
    font-family: 'Fascinate', cursive;
    
}
.logo span
{
    /* font-size: 2rem; */
    font-family: 'Fascinate', cursive;
}

h1,h2,h3,h4,h5,h6
{
    font-family: 'Acme', sans-serif;
}

hr
{
    height:1px;
    border-width:0;
    color: gray ;
    background-color: gray  ;
}

.but
{
    font-size: 1.3rem;
    font-weight: bold;
    padding-left: 1rem;
    padding-right: 1rem;
}
.but:hover
{
    background: transparent;
    font-weight: bold;
    border: #252525 solid;
    color: #252525;
}

.butn
{
    font-size: 1.3rem;
    font-weight: bold;
    padding-left: 1rem;
    padding-right: 1rem;
}
.butn:hover
{
    background-color: white;
    font-weight: bold;
    border: #252525 solid;
    color: #252525;
}



/* container 1 */

.cont
{
    height: 85vh;
    overflow: hidden;
    background: linear-gradient(rgba(7, 6, 6, 0.2),rgba(7, 6, 6, 0.2)), url("../assests/background.png") fixed;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* container 2 */

.cont2
{
    margin-top: 5rem;
}

.head
{
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 3rem;
  text-align: center;
}

.head span
{
    font-size: 4.2rem;
}

.cont2 .card
{
    margin: 2rem;
}

.button
{
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}


/* container 3 */

.cont3
{
    background-color: #ff4c68;
    color: white;
    /* padding-left: 5rem;
    padding-right: 5rem; */
}

.subs
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    
}

.fb
{
    margin-top: 8rem;
}

.input
{
    width: 18rem;
    text-align: center;
    padding: 0.7rem;
}

.butn-con3
{
    border-radius: 0;
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 1rem;
    padding-right: 1rem;
}
.butn-con3:hover
{
    background-color: white;
    font-weight: bold;
    border: #252525 solid;
    color: #252525;
}

@media only screen and (max-width: 990px)
{

    .fb
    {
        text-align: center;
        margin-top: 2rem;
    }
    .cont3
    {
        padding-left: 0rem;
        padding-right: 0rem;
    }
}

/* container 4 */
.cont4
{
    margin-top: 5rem;
}

.cont4 .card
{
    margin: 2rem;
}

/* container 5 */

.cont5
{
    /* height: 70vh; */
    margin-top: 5rem;
    padding: 4rem;
    overflow: hidden;
    background: linear-gradient(rgba(7, 6, 6, 0.3),rgba(7, 6, 6, 0.3)),url("../assests/background3.png") fixed;
    color: white;
    background-size: cover;
    text-align: center;
}

.size
{
    font-size: 4rem;
    margin-bottom: 4rem;
}

/* container 6 */

.cont6
{
    color: white;
    /* padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 7rem;
    padding-right: 7rem; */
    background-color: #ff4c68;
    
}



.cardo
{
    background:transparent;
    border: none;
}

.con
{
    text-align: center;
}

/* container 7 */
.cont7
{
    
    padding-top: 7rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 7rem;
    overflow: hidden;
    background:linear-gradient(rgba(7, 6, 6, 0.5),rgba(7, 6, 6, 0.5)), url("../assests/background2.png") fixed;
    color: white;
    background-position-y: bottom;
    background-size: cover;
    text-align: left;
}

.content
{
    /* font-size: 1.8rem; */
    margin-bottom: 2.5rem;
}

/* container 8 */

.cont8
{
    margin-top: 5rem;
}

.cont8 .card
{
    margin: 2rem;
}

/* container 9 */

.cont9
{
    background-color: whitesmoke;
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-top: 5rem;
}

.colum
{
    padding: 1rem;
    
}
.smallbook
{
    height: 6rem;
    width: 4rem;
}

.highlights
{
    color: #ff4c68;
    /* font-size: 2rem; */
}

.sub-headings
{
    padding-bottom: 1.5rem;
}

.colm
{
    padding-right: 5rem;
}

.cont9i
{
    padding-bottom: 5rem;
}

@media only screen and (max-width: 990px)
{
    .fbe
    {
        text-align: center;
    }
}

/* container 10 */

.cont10
{
    padding-top: 3rem;
}

.cont10 .card
{
    margin: 2rem;
}

/* container 11 */

.cont11
{
    background-image: linear-gradient(rgba(7, 6, 6, 0.3),rgba(7, 6, 6, 0.3)), url("../assests/background4.png");
    background-size: cover;
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: center;
}

#testimonials{
   
    text-align: center;
   
}

.carousel-item{
    padding: 7% 15%; 
    color: #fff;
}



/* container 12 */

.cont12
{
    padding: 2rem;
    background-color: #ff4c68;
    color: white;
}

.dis
{
    margin-top: 2rem;
}

.co
{
    padding-top: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    text-align: center;
   
}

/* footer section */

.footer
{
    background-color: whitesmoke;
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.footer-container
{
    margin-bottom: 4rem;
}

.footer-padding
{
    padding-right: 4rem;
}

.quick a
{
    color: black;
}

.quick a:hover
{
    color: #ff4c68;
}

.social-icons
{
    font-size: 1.8rem;
    margin-right: 0.5rem;
    color: rgba(7, 6, 6, 0.6);
}

.social-icons:hover
{
    color: #ff4c68;
}

.com
{
    padding: 0.5rem;
}