/* container 1 */

.cont
{
    height: 80vh;
    margin-top: 30px;
    background-image: url("../assests/background.png");
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* container 2 */

.cont2
{
    margin-top: 10rem;
}

.head
{
  margin-bottom: 4rem;
  text-align: center;
}

.card
{
    margin: 2rem;
}

.button
{
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}


/* container 3 */

.cont3
{
    background-color: #ff4c68;
    color: white;
    padding: 7rem;
    text-align: center;
}

.input
{
    width: 20%;
    height: 25%;
    text-align: center;
    padding: 4px;

}

.cont5
{
    margin-top: 4rem;
    padding: 7rem;
    background-image: url("../assests/background.png");
    text-align: center;
}

.size
{
    font-size: 40px;
    margin-bottom: 4rem;
}
 span
 {
    font-size: 24px;
 }
.cont6
{
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding: 7rem;
    background-color: #ff4c68;
}

.indi
{
    margin-bottom: 5rem;
    margin-left: 7rem;
    margin-right: 7rem;
}

.cont7
{
    margin-top: 4rem;
    padding: 7rem;
    background-image: url("../assests/background.png");
    text-align: right;
}

.cont9
{
    background-color: whitesmoke;
    padding-top: 4rem;
    margin-top: 4rem;
}

.smallbook
{
    height: 90%;
    width: 80%;
}

.cont10
{
    background-color: whitesmoke;
    padding-top: 4rem;
    margin-top: 4rem;
}
